#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include <dt-bindings/led/led.h>

&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>; /* MOSI pin for WS2812B */
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";

        /* SPI */
        reg = <0>; /* required for SPI bindings */
        spi-max-frequency = <4000000>;

        /* WS2812 */
        chain-length = <10>; /* number of LEDs, adjust for your strip */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;

        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

/ {
    chosen {
        zmk,underglow = &led_strip;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios =
            <&gpio0  6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  
            <&gpio0  8  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  
            <&gpio0 17  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  
            <&gpio0 20  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  
            <&gpio0 22  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  
            <&gpio0 24  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  
            <&gpio1  0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  
            <&gpio0 11  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  
            <&gpio1  4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <9>;
        rows = <1>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) 
            RC(0,3) RC(0,4) RC(0,5)
            RC(0,6) RC(0,7) RC(0,8)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "arx Layout";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys =
            <&key_physical_attrs 100 100    0    0 0 0 0>,   
            <&key_physical_attrs 100 100  100    0 0 0 0>,  
            <&key_physical_attrs 100 100  200    0 0 0 0>,   
            <&key_physical_attrs 100 100    0  100 0 0 0>,   
            <&key_physical_attrs 100 100  100  100 0 0 0>,  
            <&key_physical_attrs 100 100  200  100 0 0 0>, 
            <&key_physical_attrs 100 100    0  200 0 0 0>, 
            <&key_physical_attrs 100 100  100  200 0 0 0>, 
            <&key_physical_attrs 100 100  200  200 0 0 0>;
    };
};
